<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thexabyte.dscore">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/analog_classic_bg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <service
            android:name=".ClassicBlackWatchFace"
            android:label="@string/dscore_analog_classic"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/classic_black_preview_square" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/classic_black_preview_circle" />

            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.thexabyte.dscore.MAIN_CONFIG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".OBWatchFace"
            android:label="@string/dscore_digital"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/ob_digital_preview_square" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/ob_digital_preview_circle" />
            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.thexabyte.dscore.MAIN_CONFIG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name=".VanierWatchFace"
            android:label="@string/dscore_analog"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/vanier_preview_square" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/vanier_preview_circle" />

            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.thexabyte.dscore.MAIN_CONFIG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name=".AbacusWatchFace"
            android:label="@string/dscore_abacus"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/abacus_preview_square" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/abacus_preview_circle" />

            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.thexabyte.dscore.MAIN_CONFIG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name=".AbstractWatchFace"
            android:label="@string/dscore_abstract"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/abstract_preview_square" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/abstract_preview_circle" />

            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.thexabyte.dscore.MAIN_CONFIG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name=".BlairWatchFace"
            android:label="@string/dscore_blair"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/blair_preview_square" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/blair_preview_circle" />

            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.thexabyte.dscore.MAIN_CONFIG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name=".VendomeWatchFace"
            android:label="@string/dscore_vendome"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/vendome_preview_square" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/vendome_preview_circle" />

            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.thexabyte.dscore.MAIN_CONFIG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name=".ClassicWhiteWatchFace"
            android:label="@string/dscore_analog_classic_white"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/classic_white_preview_square" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/classic_white_preview_circle" />

            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.thexabyte.dscore.MAIN_CONFIG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name=".PXWatchFace"
            android:label="@string/dscore_px"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/px_preview_square" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/px_preview_circle" />

            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.thexabyte.dscore.MAIN_CONFIG" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
    </application>

</manifest>
